In [26]:
import datetime as dt

In [27]:
import yfinance as yf

In [28]:
import pandas as pd

In [29]:
tickers = ['AMZN', 'TSLA', 'NVDA']
close_prices = pd.DataFrame()

In [30]:
attempt = 0

In [31]:
drop = []

In [32]:
while len(tickers) != 0 and attempt <=5:
    tickers = [j for j in tickers if j not in drop]
    for i in range(len(tickers)):
        try:
            temp = yf.download(tickers[i], dt.datetime.today() - dt.timedelta(3650), dt.datetime.today())
            temp.dropna(inplace=True)
            close_prices[tickers[i]] = temp['Adj Close']
            drop.append(tickers[i])
        except Exception as e:
            print(tickers[i], " :failed to fetch data", e)
    attempt += 1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [33]:
close_prices.fillna(method='bfill', axis=0, inplace=True)

In [35]:
close_prices.dropna(axis=0, inplace=True)

In [36]:
close_prices.mean()

AMZN    772.324388
TSLA    207.705382
NVDA     82.828300
dtype: float64

In [37]:
close_prices.median()

AMZN    436.654999
TSLA    217.674995
NVDA     21.682998
dtype: float64

In [38]:
close_prices.std()

AMZN    647.886080
TSLA    161.205044
NVDA     91.798743
dtype: float64

In [39]:
daily_returns = close_prices.pct_change()

In [40]:
daily_returns.mean()

AMZN    0.001443
TSLA    0.002075
NVDA    0.001793
dtype: float64

In [41]:
daily_returns.median()

AMZN    0.001215
TSLA    0.000871
NVDA    0.001372
dtype: float64

In [42]:
daily_returns.std()

AMZN    0.019760
TSLA    0.034499
NVDA    0.026644
dtype: float64

In [43]:
daily_returns.rolling(window=20).mean()

                AMZN      TSLA      NVDA
Date
2010-06-28       NaN       NaN       NaN
2010-06-29       NaN       NaN       NaN
2010-06-30       NaN       NaN       NaN
2010-07-01       NaN       NaN       NaN
2010-07-02       NaN       NaN       NaN
...              ...       ...       ...
2020-06-16  0.003867  0.010145  0.002132
2020-06-17  0.003883  0.010982  0.002739
2020-06-18  0.003137  0.011128  0.001708
2020-06-19  0.004558  0.010238  0.003028
2020-06-22  0.005485  0.010557  0.003031

[2514 rows x 3 columns]

In [46]:
daily_returns.ewm(span=20, min_periods=20).mean()

                AMZN      TSLA      NVDA
Date
2010-06-28       NaN       NaN       NaN
2010-06-29       NaN       NaN       NaN
2010-06-30       NaN       NaN       NaN
2010-07-01       NaN       NaN       NaN
2010-07-02       NaN       NaN       NaN
...              ...       ...       ...
2020-06-16  0.004822  0.010543  0.004274
2020-06-17  0.005299  0.010475  0.005626
2020-06-18  0.005263  0.010646  0.004905
2020-06-19  0.005517  0.009342  0.004884
2020-06-22  0.006373  0.007826  0.007149

[2514 rows x 3 columns]

In [47]:
daily_returns.ewm(span=20, min_periods=20).std()

                AMZN      TSLA      NVDA
Date
2010-06-28       NaN       NaN       NaN
2010-06-29       NaN       NaN       NaN
2010-06-30       NaN       NaN       NaN
2010-07-01       NaN       NaN       NaN
2010-07-02       NaN       NaN       NaN
...              ...       ...       ...
2020-06-16  0.017416  0.044174  0.028739
2020-06-17  0.016634  0.042019  0.027668
2020-06-18  0.015823  0.039971  0.026417
2020-06-19  0.015072  0.038243  0.025127
2020-06-22  0.014590  0.036691  0.024951

[2514 rows x 3 columns]