In [3]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [4]:
stocks = ["AMZN", "MSFT", "FB", "GOOG"]

In [5]:
start = dt.datetime.today() - dt.timedelta(3650)

In [6]:
end = dt.datetime.today()

In [7]:
cl_price = pd.DataFrame()

In [8]:
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker, start, end)["Adj Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
cl_price.fillna(method="bfill", axis=0, inplace=True)

In [10]:
cl_price.dropna(axis=0, how='any')

                   AMZN        MSFT          FB         GOOG
Date
2010-06-24   118.330002   19.749605   38.230000   236.662933
2010-06-25   121.000000   19.378315   38.230000   235.457443
2010-06-28   117.800003   19.204519   38.230000   235.158569
2010-06-29   108.610001   18.414534   38.230000   226.281845
2010-06-30   109.260002   18.177536   38.230000   221.644226
...                 ...         ...         ...          ...
2020-06-15  2572.679932  188.940002  232.500000  1419.849976
2020-06-16  2615.270020  193.570007  235.649994  1442.719971
2020-06-17  2640.979980  194.240005  235.529999  1451.119995
2020-06-18  2653.979980  196.320007  235.940002  1435.959961
2020-06-19  2675.010010  195.149994  238.789993  1431.719971

[2515 rows x 4 columns]